* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: column;
	padding: 4px;
}

#search {
	margin-bottom: 8px;
}

#items {
	display: flex;
	flex-flow: column;
}

#items > * {
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 4px;
}

#items > *[data-matched=false] {
	display: none;
}
